[submodule "tb_digital_twin"]
	path = tb_digital_twin
	url = https://github.com/sejego/tb_digital_twin
[submodule "unity_motor_dt"]
	path = unity_motor_dt
	url = https://github.com/andriypartyshev/unity_motor_dt.git