[submodule "tb_digital_twin"]
	path = tb_digital_twin
	url = https://github.com/sejego/tb_digital_twin
[submodule "loading_motor_unity_visualization"]
	path = loading_motor_unity_visualization
	url = https://github.com/TalTech-PSG453/loading_motor_unity_visualization.git
